<div class="container mt-3 flex align-items-center justify-content-center">
  <h3><%= t('errors_internal_server_error_template') %></h3>
  <p>Find me in app/views/errors/internal_server_error.html.erb</p>
</div>